<p id="notice"><%= notice %></p>

<p>
  <b>Accession:</b>
  <%= @book.accession %>
</p>

<p>
  <b>Dewey:</b>
  <%= @book.dewey %>
</p>

<p>
  <b>Cutter:</b>
  <%= @book.cutter %>
</p>

<p>
  <b>Author last:</b>
  <%= @book.author_last %>
</p>

<p>
  <b>Author first:</b>
  <%= @book.author_first %>
</p>

<p>
  <b>Author middle:</b>
  <%= @book.author_middle %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @book.subtitle %>
</p>

<p>
  <b>Series name:</b>
  <%= @book.series_name %>
</p>

<p>
  <b>Series number:</b>
  <%= @book.series_number %>
</p>

<p>
  <b>Format:</b>
  <%= @book.format %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Lccn:</b>
  <%= @book.lccn %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Publisher place:</b>
  <%= @book.publisher_place %>
</p>

<p>
  <b>Copyright:</b>
  <%= @book.copyright %>
</p>

<p>
  <b>Illustrated:</b>
  <%= @book.illustrated %>
</p>

<p>
  <b>Illustration type:</b>
  <%= @book.illustration_type %>
</p>

<p>
  <b>Pages:</b>
  <%= @book.pages %>
</p>

<p>
  <b>Contributor1:</b>
  <%= @book.contributor1 %>
</p>

<p>
  <b>Contributor2:</b>
  <%= @book.contributor2 %>
</p>

<p>
  <b>Contributor3:</b>
  <%= @book.contributor3 %>
</p>

<p>
  <b>Subject1:</b>
  <%= @book.subject1 %>
</p>

<p>
  <b>Subject2:</b>
  <%= @book.subject2 %>
</p>

<p>
  <b>Subject3:</b>
  <%= @book.subject3 %>
</p>

<p>
  <b>Subject4:</b>
  <%= @book.subject4 %>
</p>

<p>
  <b>Subject5:</b>
  <%= @book.subject5 %>
</p>

<p>
  <b>Subject6:</b>
  <%= @book.subject6 %>
</p>

<p>
  <b>Subject7:</b>
  <%= @book.subject7 %>
</p>

<p>
  <b>Subject8:</b>
  <%= @book.subject8 %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Collection:</b>
  <%= @book.collection %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Source:</b>
  <%= @book.source %>
</p>

<p>
  <b>Awards publicity:</b>
  <%= @book.awards_publicity %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
